<section class="education" #educationElement>
  <div class="education-content">
    <div class="education-details">
      <h1>Education</h1>
      <p>Completed B.Sc in Computer Science From <strong>Chittagong University</strong>  with CGPA of <strong>3.20</strong></p>
    </div>
    <div class="contributions-details">
      <h1>Contributions</h1>
      <ol>
        <li>Actively contributing to PrimeNG’s front-end library and SASS themes</li>
        <li>Authored a series of technical blogs available at: Technical Blogs. <a href="https://medium.com/@faisalahmedador">Link</a></li>
        <li>Launched a YouTube course focusing on MongoDB Chart with Angular available at: MongoDB
          Chart Course. <a href="https://youtu.be/fD3MbVbEFvk?si=RYyl1e8HZ1WCKP7m">Link</a></li>
      </ol>
    </div>

  </div>
</section>
