<header class="header">
  <nav class="navbar">
    @if(isDrawerOpen || currentWindowWidth <= 1120) {
      <a href="javascript:;" class="menu-toggle" (click)="toggleDrawer()">☰</a>
      <div class="drawer" [ngClass]="{ 'open': isDrawerOpen }">
        <div class="drawer-header">
          <button class="close-btn" (click)="toggleDrawer()">✖</button>
        </div>
        <a [class.active]="activeItemName === 'home'" href="javascript:;" style="--i:1;" (click)="changeView('home', 0)">Home</a>
        <a [class.active]="activeItemName === 'experience'" href="javascript:;" style="--i:2;" (click)="changeView('experience', 1)">Experience</a>
        <a [class.active]="activeItemName === 'skill'" href="javascript:;" style="--i:3;" (click)="changeView('skill', 2)">Skills</a>
        <a [class.active]="activeItemName === 'project'" href="javascript:;" style="--i:4;" (click)="changeView('project', 3)">Projects</a>
        <a [class.active]="activeItemName === 'education'" href="javascript:;" style="--i:5;" (click)="changeView('education', 4)">Education & Contributions</a>
      </div>
    } @else {
      <div class="menu-items">
        <a [class.active]="activeItemName === 'home'" href="javascript:;" style="--i:1;" (click)="changeView('home', 0)">Home</a>
        <a [class.active]="activeItemName === 'experience'" href="javascript:;" style="--i:2;"
           (click)="changeView('experience', 1)">Experience</a>
        <a [class.active]="activeItemName === 'skill'" href="javascript:;" style="--i:3;" (click)="changeView('skill', 2)">Skills</a>
        <a [class.active]="activeItemName === 'project'" href="javascript:;" style="--i:4;"
           (click)="changeView('project', 3)">Projects</a>
        <a [class.active]="activeItemName === 'education'" href="javascript:;" style="--i:5;"
           (click)="changeView('education', 4)">Education & Contributions</a>
      </div>
    }
  </nav>
  <a href="https://wa.me/+8801670706699?text=Hello, I found your portfolio and would like to discuss an opportunity."
     target="_blank" class="whatsapp-button">
    <i class="pi pi-whatsapp" style="margin-right: 10px"></i>Give a message
  </a>
</header>
