<div class="project" #projectElement>
  <h1>Project</h1>
  <div class="project-content">
    <a class="project-content-item" href="https://org.jotno.net/">
      <img src="assets/Jotno-doctor.png" alt="angular">
      <h3>Jotno Doctor Platform</h3>
    </a>
    <a class="project-content-item" href="https://org.jotno.net/">
      <img src="assets/Jotno-doctor.png" alt="nest">
      <h3>Jotno Patient App</h3>
    </a>
    <a class="project-content-item" href="https://www.jotno.net">
      <img src="assets/Jotno-doctor.png" alt="ts">
      <h3>Jotno Organization Platform</h3>
    </a>

    <a class="project-content-item" href="https://admin.vetcare.com.bd/">
      <img src="assets/vetcare.png" alt="vet">
      <h3>Vetcare platform</h3>
    </a>
  </div>
</div>
