<div class="project" #projectElement>
  <h1>Technical Blogs</h1>

  <div class="blogs-content">

    @defer (when !blogLoader) {

        @for (blog of blogs; track blog.guid) {
          <div class="blog-card">
            <h2 class="blog-title">{{ blog.title }}</h2>
            <!--        <p class="blog-description">{{ blog.description }}</p>-->
            <p class="blog-date">Published on: {{ blog.pubDate | date: 'longDate' }}</p>
            <p class="blog-date"><b>Author: </b>Faisal Ahmed Ador</p>
            <a [href]="blog.link" target="_blank" class="read-more">Read More</a>
          </div>
        }
    } @placeholder () {
      <p>loading...</p>
    }


  </div>

</div>
