<div class="skill">
  <h1>Skills</h1>
  <hr />
  <div class="skill-section">
    <div class="skill-category">
      <p><b>Frontend: </b> Angular, React</p>
    </div>

    <div class="skill-category">
      <p><b>Backend: </b> NestJS, Node.js, Express.js, Spring Boot, JavaScript, TypeScript</p>
    </div>

    <div class="skill-category">
      <p><b>DevOps: </b> Docker, Ansible, AWS</p>
    </div>

    <div class="skill-category">
      <p><b>Testing: </b>Jest</p>
    </div>
  </div>

</div>

<div class="achievement" #skillElement>
  <h1>Key Achievements</h1>
  <hr />
  <div class="achievement-content">
    <ul>
      <li>
        Designed a dynamic HTML-to-PDF converter using Node.js, Puppeteer, and Handlebars, reducing PDF configuration time by 90%.
      </li>
      <li>
        Decoupled a coupled Angular app with NgRx, IndexedDB, and dynamic components, reducing bundle size and improving state management.
      </li>
      <li>
        Enhanced application performance and load times by introducing service-worker in an Angular project.
      </li>
      <li>
        Containerized a complex PDF project with Docker Compose, ensuring Chrome engine compatibility in a monorepo setup.
      </li>
    </ul>
  </div>
</div>
