@import "../../styles";

.skill, .achievement {
  position: relative;
  align-items: center;
  animation: fadeIn 1s ease forwards;
  animation-delay: 1s;
  max-width: 1000px;
  padding: 0 10%;
}

.skill {
  margin-top: 100px;
}

hr {
  border: 1px solid #ddd;
  margin-bottom: 30px;
}

.skill h1, .achievement h1 {
  font-size: 36px;
  font-weight: 700;
  animation: fadeInUp 1s ease forwards;
  animation-delay: 1.7s;
  color: $highlightColor;
  padding-bottom: 30px;
}

.achievement-content {


  ul {
    list-style: disc;
    margin-left: 20px;
  }

  ul li {
    font-size: 16px;
    line-height: 1.8;
    margin-bottom: 10px;
  }
}

.skill-section {
}

.skill-category {
  margin-bottom: 40px;

  h2 {
    font-size: 24px;
    color: $highlightColor;
    margin-bottom: 10px;
    border-bottom: 2px solid $highlightColor;
    display: inline-block;
    padding-bottom: 5px;
  }

  ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;

    li {
      font-size: 18px;
      line-height: 1.6;
    }
  }
}

@media screen and (max-width: 768px) {
  .skill h1 {
    font-size: 28px;
  }

  .skill-category h2 {
    font-size: 20px;
  }

  .skill-category ul li {
    font-size: 16px;
  }
}
