<div class="skill" #skillElement>
  <h1>Skills</h1>
  <div class="skill-content">
    <div class="skill-content-item">
      <img src="assets/angular.png" alt="angular">
      <h3>Angular</h3>
    </div>
    <div class="skill-content-item">
      <img src="assets/nest.png" alt="nest">
      <h3>Nestjs</h3>
    </div>
    <div class="skill-content-item">
      <img src="assets/ts.png" alt="ts">
      <h3>TypeScript</h3>
    </div>

    <div class="skill-content-item">
      <img src="assets/rxjs.jpeg" alt="rxjs">
      <h3>Rxjs</h3>
    </div>

    <div class="skill-content-item">
      <img src="assets/nx.png" alt="nx">
      <h3>Nx</h3>
    </div>


    <div class="skill-content-item">
      <img src="assets/react.png" alt="react">
      <h3>React</h3>
    </div>
  </div>
</div>
