<section class="home" #homeElement>
  <div class="home-content">
    <h3>Hello, Visitor! I am</h3>
    <h1>Faisal Ahmed</h1>
    <h3>I am a <span class="multiple-text"></span></h3>
    <p>
      Experienced Full Stack Engineer with 4 years of expertise in JavaScript and TypeScript, specializing in Angular, React.js,
      and Node.js. Proficient in developing scalable front-end applications, building robust APIs, and optimizing database
      queries. Demonstrated ability to deliver high-quality web applications with an emphasis on clean, efficient code.
    </p>
    <div class="social-media">
      <a href="https://discordapp.com/users/1247098858924937309" target="_blank" style="--i:3"><i class='pi pi-instagram'></i></a>
      <a href="https://www.github.com" target="_blank" style="--i:4"><i class='pi pi-github'></i></a>
      <a href="https://www.linkedin.com/in/arin-chatterjee-7a6298311/" target="_blank" style="--i:5"><i class='pi pi-linkedin'></i></a>
    </div>
    <a href="#" class="btn">Download my projects</a>
  </div>
  <div class="home-img">
    <img src="C:/Users/LENOVO/Downloads/Untitled_design-removebg-preview.png" alt="">
  </div>
</section>
